@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root{
	--branco-principal: #ffffff;
	--cinza-secundario: #c0c0c0;
	--botao-azul: #167df7;
	--cor-de-fundo: #00030c;
	--fonte-principal:'Inter';
}

*{
	margin: 0;
	padding: 0;
}

body{
	background-color: var(--cor-de-fundo);
	color: var(--branco-principal);
	font-family: var(--fonte-principal);
	font-size: 1rem ;
	font-weight: 400;
} 

.container {
	background-image: url("C:/Users/alisson/Documents/GitHub/portfolio01/img/Background.png");
	background-repeat: no-repeat;
	background-size: contain;
	align-items: center;
	text-align: center;
	height: 100vh;
	display: grid;
	grid-template-columns: 50% 50%;
}
	

.container__caixa{
	margin: 0 6em;
}

.container__titulo{
	font-size: 2rem;
	font-weight: 700;

}

.container__imagem{
	margin: 1em 0 2em 0;
}

.container__botao{
	display:block;
	background-color: var(--botao-azul);
	border-radius: 0.31rem;
	padding: 1rem;
	color: var(--branco-principal);
	text-decoration: none;
	margin-bottom: 1em;
}

.container__botao_secundario{
	display:block;
	padding: 1rem;
	background-color: transparent;
	border: 2px solid var(--branco-principal);
	text-decoration: none;
	color: var(--branco-principal);
	margin-bottom: 1em;
}

.container__aviso{
	font-size: 0.75rem;
	color: var(--cinza-secundario);
}